
.project-showcase {
    padding: 20px 0px 20px 0px;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        width: 100%;

        li {
            border: 1px solid var(--link-color);
            border-radius: 20px;
            background: var(--background2);
            padding: 20px;
            margin: 20px 0px 20px 0px;
            flex-wrap: wrap;

            // Maybe not
            min-width: 20rem;
            max-width: 20rem;
        }
    }
}