@use 'variables';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: variables.$font-family;
}

h1, h2, h3, p {
    margin: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}


#main {
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    max-width: 80%;

    @media screen and (min-width: variables.$breakpoint-medium) {
        max-width: variables.$breakpoint-medium;
    }

    @media screen and (min-width: variables.$breakpoint-large) {
        max-width: variables.$breakpoint-large;
    }
}

// appstart
#loading {
    position: absolute;
    top: 45%;
    left: 45%;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: auto;

    p {
        margin-left: 10px;
    }

    i {
        color: #000000;
    }
}