@use 'variables';

#main {
    transition: all .2s linear;
    background: var(--background1);
    color: var(--text-color);

    header {
        background: var(--background2);
    }

    a {
        color: var(--link-color);
    }

    // Color themes
    &.light {
        --background1: #d5d5d5;
        //--background2:
        //--background3:
        --text-color: #000000;
        --link-color: red;
    }

    &.dark {
        --background1: #16161A;
        --background2: #111116;
        //--background3:
        --text-color: #DDDDE0;
        --link-color: #9a9a9a;
    }
}