
$font-family: system-ui, sans-serif;

// Screen sizes
$breakpoint-small: 426px;
$breakpoint-medium: 769px;
$breakpoint-large: 1025px;

// Theme - light
$accent-color-light: #00ff21;
$background-color-light: #d5d5d5;
$header-footer-color-light: red;
$text-color-light: #000000;
$link-color-light: red;

// Theme - dark
$accent-color-dark: blue;
$background-color-dark: #16161A;
$header-footer-color-dark: #111116;
$text-color-dark: #DDDDE0;
$link-color-dark: #9a9a9a;

