@use 'variables';

#main {
    transition: all .2s linear;
    background: var(--background1);
    color: var(--text-color);

    a {
        color: var(--link-color);
    }

    &.light {
        --background1: #e5e5e5;
        --background2: #add5f8;
        --background3: #2c395a;
        --text-color:  #161821;
        --link-color:  #00078d;
    }

    &.dark {
        --background1: #161821;
        --background2: #1d1e36;
        --background3: #2c395a;
        --text-color:  #ffffff;
        --link-color:  #ddd38d;
    }
}