@page "/about"
@layout MainLayout

<h3>About</h3>

<hr />

<p>
    Adipisci quia id cupiditate quod quidem aut. 
    Sed et velit excepturi porro nulla debitis debitis qui. 
    Alias dicta commodi nisi. 
    Natus voluptatum minus commodi quis quam quisquam. 
    Ratione molestiae et error aut alias officia ut.

    Omnis rerum alias quia ipsa ea. 
    Et explicabo repellendus aliquam sint quis ut. 
    Ullam reiciendis ea voluptate consequatur consequatur reprehenderit 
    quod in. Est consequatur qui sint voluptates tempore vero et quasi. 
    Vitae aut sit dolor et cumque et officiis. 
    Cupiditate et deleniti et eaque sit esse explicabo.
</p>

<hr />

@code {

}
