@page "/"
@layout MainLayout
@using malformedpeach.github.io.Shared.Components;

<h1>Home</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tortor ullamcorper augue euismod lobortis. Vivamus luctus scelerisque rhoncus. Suspendisse ut pretium massa, egestas tempor arcu. Proin blandit consequat iaculis. Fusce pulvinar eu lacus quis commodo. Aliquam ultrices dolor at elit fringilla, sed accumsan ex semper. Nulla tincidunt nibh sit amet nibh tincidunt, vitae euismod purus ultrices. Etiam sit amet neque id nisi sodales lacinia. Nam vitae rhoncus ex.
    Nam at neque ac odio hendrerit cursus eu ac mi. Mauris semper metus et sapien iaculis, eget scelerisque justo aliquam. Curabitur elementum lacinia nisl eu pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam tincidunt justo at neque dapibus, non pretium eros laoreet. In hac habitasse platea dictumst. Nullam efficitur felis finibus iaculis gravida. Sed feugiat magna in vehicula aliquam. Sed ut aliquet urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque lacinia non tortor sed malesuada.
    Donec viverra ligula auctor hendrerit bibendum. Ut euismod vel felis at euismod. Mauris vitae accumsan felis, ut vestibulum augue. Fusce venenatis blandit nunc non venenatis. Cras eget massa venenatis, commodo quam vel, bibendum est. Interdum et malesuada fames ac ante ipsum primis in faucibus. In cursus magna nulla, et dignissim urna viverra eu. Fusce sed sem odio. Nunc sagittis nunc a velit varius tincidunt. Sed id tortor tristique, placerat ex in, convallis lectus. Nam sed pellentesque orci. Cras gravida, risus sed tempor accumsan, augue mi viverra augue, id rhoncus est leo quis ipsum.
    Vivamus et nisi at neque malesuada consequat. Praesent id aliquet quam. Donec id blandit mauris. Vestibulum rutrum ex nec rutrum blandit. Praesent et pulvinar nulla. Etiam malesuada dolor augue, nec suscipit quam mattis elementum. Donec tincidunt, nibh id semper venenatis, dui turpis ultrices est, eu dictum urna nulla accumsan sem. Integer pretium rutrum ante. Integer vehicula nulla non nisi auctor, sit amet tempus sapien congue. Nam congue, augue id suscipit finibus, sapien ipsum ultrices velit, vitae euismod turpis dolor in odio.
    Nunc dapibus cursus felis ac rutrum. Donec at tincidunt augue. Ut eget pellentesque risus. Morbi finibus, dui vitae viverra placerat, eros metus pharetra tellus, vel ultrices felis nulla eget elit. Morbi fringilla orci ullamcorper finibus posuere. Mauris maximus ipsum a elit feugiat pretium. In nec massa dignissim odio consequat aliquet vel et elit.
</p>

<ProjectShowcase />