@page "/"
@layout MainLayout
@using malformedpeach.github.io.Shared.Components;

<div class="block">
    <h1>Hey, I'm Samuel Drysén</h1>
    <img id="profile-picture" src="/assets/img/user-profile-placeholder.jpg" alt="Profile picture" >
    <p><i>A .NET developer</i></p>
</div>

<Expandable Title="Where i worked">
    <p>Precio Fishbone - Göteborg</p>
    <p>Software Developer</p>
    <p>[Describe work experience]</p>
</Expandable>

<Expandable Title="Where i studied">
    <p>Teknikhögskolan - Göteborg</p>
    <p>Fullstack developer .NET</p>
    <p>[Describe education]</p>
</Expandable>

<Expandable Title="My skills">
    <p>I have experience in... [Insert skill bubbles here]</p>
</Expandable>

<Expandable Title="My projects">
    <ProjectShowcase />
</Expandable>

<Expandable Title="About me">
    <p>I like... [insert here]</p>
</Expandable>
