@page "/"
@layout MainLayout
@using malformedpeach.github.io.Shared.Components;

<div class="block profile">
    <h1>Hey, I'm Samuel Drysén</h1>
    <img class="profile-picture" src="/assets/img/profile-picture.jpg" alt="Profile picture" >
    <p><i>A .NET developer</i></p>
</div>

<Expandable Title="Where i worked">
    <div class="block">
        <div class="card">
            <h3>Kodexe - Current employment!</h3>
            <p><i>Software Developer</i></p>
            <p>I recently started working at Kodexe! I've been learning two new CMS tools: Umbraco and Litium, and am continuing to sharpen my web development skills.</p>
        </div>
    </div>
    
    <div class="block">
        <div class="card">
            <h3>Precio Fishbone</h3>
            <p><i>Software Developer</i></p>
            <p>Web development frontend & backend, worked a bunch with Episerver CMS. Performed maintenance and new developments for various customers.</p>
        </div>
    </div>
</Expandable>

<Expandable Title="Where i studied">
    <div class="block">
        <div class="card">
            <h3>Teknikhögskolan</h3>
            <p><i>Fullstack developer .NET</i></p>
            <p>Studied .NET, SQL, Web development frontend and backend, DevOps in Azure and agile methodologies.</p>
        </div>
    </div>
</Expandable>

<Expandable Title="My skills">
    <div class="block bubble-container">
        <div class="bubble">
            <p>HTML</p>
        </div>
        <div class="bubble">
            <p>JavaScript</p>
        </div>
        <div class="bubble">
            <p>CSS</p>
        </div>
        <div class="bubble">
            <p>TypeScript</p>
        </div>
        <div class="bubble">
            <p>React</p>
        </div>
        <div class="bubble">
            <p>Episerver</p>
        </div>
        <div class="bubble">
            <p>C#</p>
        </div>
        <div class="bubble">
            <p>C++</p>
        </div>
        <div class="bubble">
            <p>Java</p>
        </div>
        <div class="bubble">
            <p>UML</p>
        </div>
        <div class="bubble">
            <p>SQL</p>
        </div>
        <div class="bubble">
            <p>SCSS</p>
        </div>
        <div class="bubble">
            <p>Xamarin</p>
        </div>
        <div class="bubble">
            <p>Wordpress</p>
        </div>
        <div class="bubble">
            <p>ASP.NET</p>
        </div>
        <div class="bubble">
            <p>Azure</p>
        </div>
        <div class="bubble">
            <p>Monogame</p>
        </div>
        <div class="bubble">
            <p>Blazor</p>
        </div>
    </div>
</Expandable>

<Expandable Title="My projects">
    <div class="block">
        <div class="card-container">
            <div class="card card-clickable">
                <a href="https://github.com/malformedpeach/SunBot" class="blocklink"></a>
                <h3>Sunbot</h3>
                <p>A friendly Disco(rd) bot.</p>
            </div>

            <div class="card card-clickable">
                <a href="https://github.com/malformedpeach/malformedpeach.github.io" class="blocklink"></a>
                <h3>Malformedpeach.github.io</h3>
                <p>This webpage! A blazor webassembly project.</p>
            </div>
        </div>
    </div>
</Expandable>

<Expandable Title="About me">
    <div class="block haiku">
        <p>
            <i>
                Fan of camping trips! <br/>
                Video game connoisseur, <br/>
                and fantasy geek
            </i>
        </p>
    </div>
</Expandable>
