@page "/"
@layout MainLayout
@using malformedpeach.github.io.Shared.Components;

<div class="block">
    <h1><i>Hey, I'm</i> Samuel Drysén</h1>
    <img id="profile-picture" src="/assets/img/user-profile-placeholder.jpg" alt="Profile picture" >
</div>

<div class="block">
    <h2>Where i worked</h2>

    <!--Explandable block-->
    <p>Precio Fishbone - Göteborg</p>
    <p>Software Developer</p>
    <p>[Describe work experience]</p>
</div>

<div class="block">
    <h2>Where i studied</h2>

    <!--Explandable block-->
    <p>Teknikhögskolan - Göteborg</p>
    <p>Fullstack developer .NET</p>
    <p>[Describe education]</p>
</div>

<div class="block">
    <h2>My skills</h2>
    
    <!--Project showcase bubblor med kompetenser-->
    <p>I have experience in... [Insert skill bubbles here]</p>
</div>

<div class="block">
    <h2>About me</h2>

    <!--Kort beskrivning om mig och mina hobbys-->
    <p>I like... [insert here]</p>
</div>

<ProjectShowcase />