@page "/"
@layout MainLayout

<h3>Index</h3>

<hr />

<p>
    Optio ipsam cupiditate dolorem. 
    Doloremque culpa perspiciatis ea suscipit ex. 
    Et ipsam magnam ipsum rerum molestiae placeat et. 
    Consequatur quo qui reprehenderit aliquid. Est quis rerum labore est. 
    Atque tempora harum est corporis sunt illo.

    Eveniet ipsam sunt quasi voluptatem placeat et illo. 
    Esse amet aut voluptatem veritatis cumque est voluptatem natus. 
    Fuga et nesciunt facere reiciendis. Debitis incidunt error tempore ut. 
    Consequatur voluptas ut quo ratione quod. Dolores nam aut sed.
</p>

<hr />


<div id="button-container">
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-dark">Dark</button>
</div>