@inherits LayoutComponentBase

<header>
    <a href="/">
        <span class="fas fa-home"></span>
        <h2><a href="/">malformedpeach.github.io</a></h2>
    </a>
    
    <span> > </span>

    <NavLink href="/about" class="text-uppercase">about</NavLink>
</header>

<div id="main" class="container">

    @Body
    
</div>
