@inherits LayoutComponentBase
@using malformedpeach.github.io.Shared.Layout;

<div id="main" class="@currentTheme">

    <Header OnClickCallBack="ToggleTheme" />

    <div id="main-content" role="main">
        @Body
    </div>

    <Footer />

</div>

@code {
    public string currentTheme { get; set; } = "light";

    public void ToggleTheme()
    {
        if (currentTheme == "light") currentTheme = "dark";
        else if (currentTheme == "dark") currentTheme = "light";
        this.StateHasChanged();
    }
} 