@inherits LayoutComponentBase

<header>
    <a href="/" class="home">
        <i class="icon fas fa-home"></i>
        malformedpeach.github.io
    </a>
    
    <span> > </span>

    <NavLink href="/about" class="text-uppercase">about</NavLink>
</header>

<div id="main" class="container">

    @Body
    
</div>
