@inherits LayoutComponentBase
@inject IJSRuntime JS;
@using malformedpeach.github.io.Shared.Layout;

<div id="main" class="@_currentTheme">

    <Header OnClickCallBack="ToggleTheme" />

    <div id="main-content" role="main">
        @Body
    </div>

    <Footer />

</div>