@inherits LayoutComponentBase
@using malformedpeach.github.io.Shared.Components;

<div id="main">

    <Header />

    <div id="main-content" class="container">
        @Body
    </div>

    <Footer />
    
</div>
