
<div class="block">
    <div class="expandable-header">
        <h2>@Title</h2>
        <button onclick="toggleExpand(this)"></button>
    </div>
    <div class="expandable-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }
}
