@inherits ComponentBase


<header>
    <a href="/" class="home">
        <i class="icon fas fa-home"></i>
        malformedpeach.github.io
    </a>

    <span> > </span>

    <NavLink href="/about">about</NavLink>
</header>