
<div class="project-showcase">
    <h2>My projects</h2>
    
    <ul>
        <li>
            <h3><a href="https://github.com/malformedpeach/SunBot">Sunbot</a></h3>
            <p>A friendly Disco(rd) bot.</p>
        </li>

        <li>
            <h3><a href="https://github.com/malformedpeach/malformedpeach.github.io">Malformedpeach.github.io</a></h3>
            <p>This webpage! A blazor webassembly project.</p>
        </li>
    </ul>
</div>