
<div class="block">
    <div class="card-container">
        <div class="card">
            <a href="https://github.com/malformedpeach/SunBot" class="blocklink"></a>
            <h3>Sunbot</h3>
            <p>A friendly Disco(rd) bot.</p>
        </div>

        <div class="card">
            <a href="https://github.com/malformedpeach/malformedpeach.github.io" class="blocklink"></a>
            <h3>Malformedpeach.github.io</h3>
            <p>This webpage! A blazor webassembly project.</p>
        </div>
    </div>
</div>