
<div class="project-showcase">
    <h2>ProjectShowcase [Component]</h2>
    
    <ul>

        <li>
            <img />
            <h3>[ProjectName]</h3>
            <p>[ProjectDescription]</p>
        </li>

        <li>
            <img />
            <h3>[ProjectName]</h3>
            <p>[ProjectDescription]</p>
        </li>

        <li>
            <img />
            <h3>[ProjectName]</h3>
            <p>[ProjectDescription]</p>
        </li>
    </ul>
</div>