
<div class="block project-showcase">
    <h2>My projects</h2>
    
    <ul>
        <li>
            <a href="https://github.com/malformedpeach/SunBot" class="blocklink"></a>
            <h3>Sunbot</h3>
            <p>A friendly Disco(rd) bot.</p>
        </li>

        <li>
            <a href="https://github.com/malformedpeach/malformedpeach.github.io" class="blocklink"></a>
            <h3>Malformedpeach.github.io</h3>
            <p>This webpage! A blazor webassembly project.</p>
        </li>

    </ul>
</div>