@inherits ComponentBase

<div id="todo-app">

    <h2>Todo</h2>

    <div id="add-todo">
        <input @bind="InputText" type="text" id="new-todo" placeholder="Todo" />
        <button @onclick="AddTodo" class="btn btn-primary">Add</button>
    </div>

    <ul id="todo-list">
        @foreach (var item in TodoItems)
        {
            <li class="todo">
                <input type="checkbox" /> @item.TodoText
            </li>
        }
    </ul>

</div>
